# Importing Dependencies

In [1]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt

# Importing Data

In [2]:
df = pd.read_csv('dataset/Analysis of Super Store - DA.csv')
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

# Cleaning Data

In [3]:
# removing postal code because it is not required for analysis
# removing Country because it is the same for the whole dataset
df.drop(columns=['Postal Code', 'Country'], inplace=True)
df.head()

,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,Los Angeles,California,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,Fort Lauderdale,Florida,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
df.isna().sum()

Ship Mode       0
Segment         0
City            0
State           0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

# Descriptive Analysis

## Metadata

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   City          9994 non-null   object
 3   State         9994 non-null   object
 4   Region        9994 non-null   object
 5   Category      9994 non-null   object
 6   Sub-Category  9994 non-null   object
 7   Sales         9994 non-null   float64
 8   Quantity      9994 non-null   int64
 9   Discount      9994 non-null   float64
 10  Profit        9994 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 859.0+ KB

In [6]:
df.describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

In [7]:
print('Unique Values:-')
print('-'*15)
print('Ship Mode:'.ljust(13), df["Ship Mode"].unique(), '\n')
print('Segment:'.ljust(13), df["Segment"].unique(), '\n')
print('Region:'.ljust(13), df["Region"].unique(), '\n')
print('Category:'.ljust(13), df["Category"].unique(), '\n')
print('Sub-Category:'.ljust(13), df["Sub-Category"].unique())

Unique Values:-
---------------
Ship Mode:    ['Second Class' 'Standard Class' 'First Class' 'Same Day']

Segment:      ['Consumer' 'Corporate' 'Home Office']

Region:       ['South' 'West' 'Central' 'East']

Category:     ['Furniture' 'Office Supplies' 'Technology']

Sub-Category: ['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']